/* ??????????
 *
 *
 *
 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
//font-family

$logo-title: ‘cwTeXFangSong’, serif;
.views-login_view {
  text-align: center;
  .login {
    //border: 1px solid blue;
    margin: 0 auto;
    width: 448px;
    .login-card {
      min-height: 400px;
    }
    .card-logo-group {
      height: 40px;
      line-height: 40px;
      .card-logo-title {
        font-size: 20px;
        font-family: $logo-title;
      }
    }
  }
  .card-foot {
    width: 448px;
    margin: 0 auto;
    padding: 6px;
    a {
      color: #000;
    }
    .card-foot-left {
      font-size: 13px;
      width: 100px;
      height: 25px;
    }
    .card-foot-right {
      font-size: 13px;
      height: 25px;
      line-height: 25px;
    }
  }
  .err-msg {
    font-size: 14px;
    color: red;
    text-align: left;
  }
}

.views-dashboard {
  .brand-logo-title {
    font-family: $logo-title;
  }
}
